body, .background-container {
  margin: 0;
  padding: 0;
}

.background-container {
  position: relative;
  overflow: hidden;
  height: 100vh; 
}

.backg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.login-container {
  position: absolute;
  top: 50%; 
  left: 70%; 
  transform: translate(-50%, -50%); 
  width: 450px;
  height: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 25px;
  color: black;
}

.backg{
  color: purple;
}

label {
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 30px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
.register-link-text{
  color: blue;
  cursor: pointer;
}
.container1 {
  display: flex;
  align-items: center;
}

.logo {
  width: 120px; 
  margin-right: 10px; 
}

.horizontal-container {
  display: flex;
  align-items: center;
}
.title1{
  color: rgb(124, 7, 124);
  margin-left: 20px;
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}